The libraries used and their respective functions are:
-NUMPY Version: 1.24.3 (pip show numpy in your python console to see)
For more information you can visit: https:https://www.numpy.org

-pytube==15.0.0 
For more information you can visit: https://pytube.io/en/latest/ or https://github.com/pytube/pytube


If you want to check if a package is installed, you can run "pip freeze" in the console
